<footer class="mcmaster-footer">
  <div class="footer-logos">
    <a href="https://scds.ca/" target="_blank" rel="noopener noreferrer">
      <img
        src="{{ site.baseurl }}/assets/logos/SC_Logo.png"
        alt="McMaster Libraries Logo"
      />
    </a>
    <a href="https://www.hpl.ca/" target="_blank" rel="noopener noreferrer">
      <img
        src="{{ site.baseurl }}/assets/logos/HPL_Logo.png"
        alt="Hamilton Public Library Logo"
      />
    </a>
    <a
      href="https://community.mcmaster.ca/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="{{ site.baseurl }}/assets/logos/MU_Horizontal_Logo.png"
        alt="Office of Community Engagement Logo"
      />
    </a>
    <a
      href="https://library.mcmaster.ca/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="{{ site.baseurl }}/assets/logos/MUL_Horizontal_Logo.png"
        alt="Office of Community Engagement Logo"
      />
    </a>
  </div>
  <div class="footer-email">
    <span>For support contact: </span
    ><a href="mailto:mapref@mcmaster.ca">mapref@mcmaster.ca</a>
  </div>
</footer>
