<footer class="mcmaster-footer">
  <div class="footer-logos">
    <img
      src="{{ '/assets/logos/SC_Logo.png' | relative_url }}"
      alt="McMaster Libraries Logo"
    />
    <img
      src="{{ '/assets/logos/HPL_Logo.png' | relative_url }}"
      alt="Hamilton Public Library Logo"
    />
    <img
      src="{{ '/assets/logos/MU_Horizontal_Logo.png' | relative_url }}"
      alt="Office of Community Engagement Logo"
    />
    <img
      src="{{ '/assets/logos/MUL_Horizontal_Logo.png' | relative_url }}"
      alt="Office of Community Engagement Logo"
    />
  </div>
  <div class="footer-email">
    <span>For support contact: </span
    ><a href="mailto:mapref@mcmaster.ca">mapref@mcmaster.ca</a>
  </div>
</footer>
